<section class="post-grid pad-top-700 gap-bottom-900">
  <div class="inner-wrapper">
    <div class="post-grid__items">
      {% for post in collections.posts | reverse %}
        {% if post.date.getTime() <= global.now %}
          {% include "partials/components/post-card.njk" %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

