---
title: Blog Archive
layout: false
---

{% extends 'layouts/base.njk' %}

{% set introHeading = title %}
{% set introSummary %}A place to voice our useful opinions.{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <section class="container pad-top-700 pad-bottom-300">
  <h1 class="underlined-heading">Blog Archive</h1>
  <p>A collection of insights and discussions.</p>
</section>
    {# OLD: {% include "partials/components/post-list.njk" %} #}
    {% include "partials/components/post-grid.njk" %}
  </main>
{% endblock %}